.add-animal {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: -70vh;
  button {
    background: none;
    border: solid white 3px;
    border-radius: 30px;
    padding: 10px 35px;
    &:focus {
    outline: none;
    }
  }
  .animal-add {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 40px;
    background-color: none;
    border: solid white 3px;
    input {
      background: transparent;
      height: 70px;
      width: 300px;
      text-align: center;
      border-bottom: solid white 3px;
      border-top: none;
      border-left: none;
      border-right: none;
      &:focus {
      outline: none;
      }
    }
    button {
      margin-top: 20px;
    }
  }
}
