.edit-container {
  display: flex;
  justify-content: center;
  position: relative;
  top: -320px;
  .animal-edit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
    margin-top: 20px;
    padding: 40px;
    border: solid white 3px;
    h3 {
      margin: 10px 0;
    }
    input {
      background: transparent;
      height: 70px;
      width: 300px;
      text-align: center;
      border-bottom: solid white 3px;
      border-top: none;
      border-left: none;
      border-right: none;
      margin-top: 10px;
      &:focus {
      outline: none;
      }
    }
    label {
      margin-top: 10px;
    }
    button {
      background: none;
      border: solid white 3px;
      border-radius: 30px;
      padding: 10px 0;
      margin-top: 20px;
      &:focus {
        outline: none;
      }
    }
  }
}
