.header {
  position: relative;
  .background {
  background-image: url("../../img/hero-bg.png");
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vh;
  }
  .brand-group {
    display: flex;
    align-items: center;
    position: absolute;
    left: 825px;
    top: 10px;
    img {
      height: 40px;
      filter: invert(100%);
    }
  }
}

.animal-filter {
  select {
    background-color: white;
  }
}

.animal-card {
  background-color: white;
}
