* {
  font-family: 'Roboto', sans-serif;
}

.header {
  .brand-group {
    h1 {
      font-family: 'Delius Unicase', cursive;
      font-size: 1.2em;
      color: white;
    }
  }
}

.add-animal {
  button {
    font-family: 'Delius Unicase', cursive;
    text-transform: uppercase;
    text-align: center;
    font-size: 2em;
    color: white;
  }
  .animal-add {
    input {
      font-family: 'Delius Unicase', cursive;
      text-transform: lowercase;
      font-size: 1.5em;
      color: white;
      &::-webkit-input-placeholder {
        color: #b6acb7;
      }
    }
    button {
      font-size: 1.5em;
    }
  }
}
